html{
    background-color: black;
    background-image: url("./static/images/background.svg");
    color: white;
    display: flex;
    justify-content: center;
    font-family: "Comfortaa", sans-serif;
    font-weight: bold;
}
body{
    background-image: url("static/images/background.svg");}
img{
    width: 2rem;
    border: none;
}
a{
    text-decoration: none;
    color: white;
}
#logo_div{
    margin-left: 2rem;
}
#nav_register{
    margin-right: 2rem;
}
button, a, .date, .location{
    transition-duration: 0.4s;
}
button:hover, a:hover, .date:hover, .location:hover{
    transform: scale(1.5);
  }
header{
    position: fixed;
    width: 80vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    background-color: rgba(0, 255, 255, 0.25);
    backdrop-filter: blur(10px);
    border-radius: 1rem;
    /* padding-left: 4rem;
    padding-right: 4rem; */
    z-index: 1000;
    left: 10vw;
}
.home{
    display: flex;
    justify-content: center;
    align-items: center;
}
.home_info,.lottie{
    width: 40%;
}
.big_home_test{
    font-size: 3.5rem;
    font-family: "Comfortaa", sans-serif;
    font-weight: bolder;
}
.small_home_test{
    font-size: 1.5rem;
    font-family: "Comfortaa", sans-serif;
    font-weight: bold;
}
.primary_btn{
    border-radius: .5rem;
    background: aqua;
    width: max-content;
    padding: .5rem;
    border: none;
    height: 3rem;
    font-size: large;
    font-weight: bolder;
}
.secondary_btn{
    border-radius: .5rem;
    border-style: solid;
    /* border-width: 4px; */
    border-color: aqua;
    width: max-content;
    padding: .5rem;
    height: 3rem;
    font-size: large;
    font-weight: bolder;
    color: white;
    background-color: hsla(0, 100%, 50%, 0);
}
.btn_layer{
    display: flex;
    justify-content: space-between;
    padding-left: 6rem;
    padding-right: 6rem;
    font-size: large;
}
section{
    height: 90vh;
    padding: 5rem;
}
iframe{
    border: none;
    background-color: black;
    color: white;
    scrollbar-width: 0;
}
a{
    color: gr;
}
#about{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.about_big_text{
    font-size: 4rem;
    font-weight: bolder;
}
.about_info{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.location, .date{
    border-radius: 1rem;
    backdrop-filter: blur(10px);
    background-color: hsla(0, 7%, 56%, 0.26);
    width: fit-content;
    padding: .75rem;
    margin: .75rem;
    font-size: 1.3rem;
}
.catch_statement{
    font-weight: normal;
    /* font-style: italic; */
    font-size: 1.2rem;
}
.about_message{
    font-size: 1.5rem;
    font-weight: bold;
    width: 70vw;
    margin: .75rem;
    padding: .75rem;
}
#timeline{
    /* width: 70vw; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.timeline_title{
    font-weight: normal;
    font-size: 3rem;
}
.time_line{
    display: flex;
    flex-direction: row;
    width: 70vw;
    justify-content: center;
    align-items: center;
}
.time_num{
    font-size: 4rem;
    font-weight: bold;
    margin: 1rem;
}
.time_title{
    font-size: 2rem;
    color: aqua;
}
.time_info{
    font-size: 1.3rem;
    font-weight: normal;
}

#organisers{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.org_title{
    font-size: 3rem;
}
.org_card{
    width: 30rem;
    background-color: rgba(0, 255, 255, 0.15);
    border-radius: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: large;
    align-items: center;
    margin-bottom: 2rem;
}

.org_card_title{
    font-size: 2rem;
    padding: 1rem;
}
.org_about{
    padding-bottom: 1rem;
    font-size: large;
}

.org_socials{
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    align-items: center;
}
.org_socials_img{
    width: 3rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 1rem;
}
.our_socials{
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    align-items: center;
}